<!DOCTYPE html>
<html lang="en">
<%- partial('partial/head') %>
<body>
  <div class="layout container wh100">
    <div class="wrap">
      <%- partial('partial/header') %>
      <main id="body">
        <%- body %>
      </main>
      <%- partial('partial/footer') %>
    </div>
  </div>
</body>
</html>
